# JWT
JWT__KEY=aqui_va_la_key
JWT__ISSUER=aqui_va_el_issuer
JWT__AUDIENCE=aqui_va_el_audience


# PostgreSQL
POSTGRES_USER=usuario_de_la_bd
POSTGRES_PASSWORD=password_de_la_bd
POSTGRES_DB=nombre_de_la_db